<div class="flex px-10 flex-col items-center gap-6 md:py-10 relative">

    <div class="flex flex-col md:flex-row gap-8 w-full max-w-6xl">
        <div
            class="flex flex-col gap-4 justify-center text-center md:text-left md:w-1/2"
        >
            <span
                class="text-white text-3xl font-zen-dots max-w-xl mx-auto md:mx-0"
            >
                <a href="https://unet.edu.ve/" class="cursor-pointer">
                    Universidad Nacional Experimental del <br /> Táchira
                    <span class="text-primary-orange text-2xl">.</span>
                </a>
            </span>
            <span class="text-primary-orange text-xl">~San Cristobal.</span>
            <span class="text-primary-orange text-xl"
                >~Tachira Venezuela, Venezuela</span
            >
            <div
                class="flex justify-center md:justify-start items-center w-full mt-4"
            >
                <a href="https://maps.app.goo.gl/bZbj3njKfjj4PFGB6">
                    <button
                        class="bg-primary-orange text-white px-4 py-2 rounded-lg transition hover:scale-105 cursor-pointer"
                    >
                        Mostrar en el mapa
                    </button>
                </a>
            </div>
        </div>
        <div
            class="flex justify-center w-full h-full md:justify-end items-center md:w-1/2"
        >
            <img
                src="/assets/location/unet.jpg"
                alt="UNET"
                class="border-2 w-full border-primary-orange rounded-lg"
            />
        </div>
    </div>
    <div
        class="px-4 md:px-0 text-white text-lg leading-relaxed md:mt-8 text-justify max-w-4xl"
    >
        <span class="prose text-primary-orange text-2xl font-bold">~</span>
        La UNET nace como una institución de carácter experimental orientada a la
        búsqueda de la verdad, al afianzamiento de los valores trascendentales del
        hombre y a la realización de una función rectora de la educación, la cultura
        y la ciencia mediante la docencia, la investigación, la extensión y la actividad
        complementaria de producción de bienes y servicios
        <span class="text-primary-orange text-2xl font-bold">.</span>
    </div>
</div>
