---
import Layout from "../layout/Layout.astro";
import Information from "../features/home/sections/Information.astro";
import Main from "../features/home/sections/Main.astro";
import Speakers from "../features/home/sections/Speakers.astro";
import Sponsor from "../features/home/sections/Sponsor.astro";
import Team from "../features/home/sections/Team.astro";
import Ubication from "../features/home/sections/Ubication.astro";
import Division from "../components/ui/Division.astro";
import Podium from "../features/home/sections/Podium.astro";
---

<Layout title="Hello World Cup 2026">
	<Main />
	<div id="podium">
		<Division text="Podium" side="right" />
		<Podium />
	</div>
	<div id="categorias">
		<Division text="¿Quieres Participar?" side="left" />
		<Information />
	</div>
	<div id="ubicacion">
		<Division text="Ubicación" side="right" />
		<Ubication />
	</div>
	<div id="charlas">
		<Division text="Charlas" side="left" />
		<Speakers />
	</div>
	<div id="patrocinadores">
		<Division text="Patrocinadores" side="right" />
		<Sponsor />
	</div>
	<div id="equipo">
		<Team />
	</div>
</Layout>