---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/assets/mascot/logo-hwc-2026.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-primary-ark-blue">
		<h1 class="font-zen-dots text-4xl flex flex-row">
			<p class="text-white">HWC</p>
			<p class="text-primary-orange">|2026</p>
		</h1>
	</body>
</html>
