<header class="md:flex md:flex-row items-center justify-start gap-4 px-4 py-4 md:px-6 lg:px-8">
    <div class="font-zen-dots text-2xl text-white sm:text-3xl">
        <span>HWC</span><span class="text-primary-orange">|2026</span>
    </div>
    <nav class="ml-0 md:ml-6 md:flex hidden flex-col md:flex-row gap-4">
        <a href="#" class="text-white hover:text-primary-orange transition">Ejercicios</a>
        <a href="#" class="text-white hover:text-primary-orange transition">Mi Equipo</a>
    </nav>
</header>
