<div
    class="w-ful flex md:flex-row flex-col-reverse justify-center items-center gap-3    bg-gradient-to-b from-[var(--color-primary-ark-blue)] via-[var(--color-primary-degra-blue)] to-[var(--color-primary-ark-blue)] py-0 pl-10"
>
    <div
        class="w-5xl pt-0 mb-15 flex flex-col justify-center items-center pr-7 pl-7 gap-4"
    >
        <h1
            class="xl:text-5xl lg:text-3xl md:text-2xl text-[1rem] flex flex-col justify-start items-center gap-2 text-white"
        >
            <div class="flex flex-row underline decoration-white text-center">
                <p class="text-primary-orange">&lt;</p>
                <p>HELLO WORLD CUP</p>
            </div>
            <div class="flex flex-row underline decoration-primary-orange">
                <p>2026</p>
                <p class="text-primary-orange">/&gt;</p>
            </div>
        </h1>
        <strong class="text-primary-orange w-full text-center text-2xl">
            14 DE JUNIO, 2026 &bull; Táchira &bull; San Cristobal
        </strong>
        <div class="w-full xl:px-32 lg:px-24 text-center text-white">
            <p>
                Bienvenido a la competencia de programación creada por
                estudiantes y hecha para estudiantes<span class="text-primary-orange">.</span>
            </p>
            <p>
                Únete a nuestra competencia para que pruebes todos tus
                conocimientos y seas parte de la familia <span class="text-primary-orange font-zen-dots">HELLO WORLD CUP.</span>
            </p>
        </div>
        <button class="bg-primary-orange text-white px-4 py-2 rounded-lg transition hover:scale-105 cursor-pointer">
            Unirme a la comunidad
        </button>
    </div>
    <div class="flex justify-center items-center">
        <img
            src="/assets/mascot/logo-hwc-2026.png"
            alt=""
            class="md:w-full md:h-full w-3/4 h-3/4 object-contain"
        />
    </div>
</div>
