<div class="flex flex-col justify-center items-center gap-4 px-20 py-10">
    <div class="flex fex-row gap-4">
        <div class="flex flex-col gap-4">
            <h2 class="text-primary-orange">~Ubicación</h2>
            <strong class="text-white text-2xl"
                >UNIVERSIDAD NACIONAL EXPERIMENTAL DEL TACHIRA</strong
            >
            <span class="text-primary-orange">~San Cristobal.</span>
            <span class="text-primary-orange"
                >~Tachira Venezuela, Venezuela</span
            >
            <div class="flex justify-center items-center w-full">
                <a
                    class="bg-primary-orange text-white px-8 py-2 rounded-lg"
                    href="https://maps.app.goo.gl/bZbj3njKfjj4PFGB6"
                    target="_blank"
                >
                    Mostrar en el mapa
                </a>
            </div>
        </div>
        <div class="flex justify-center items-center w-full">
            <img src="/assets/location/unet.jpg" alt="" class="border-2 border-primary-orange w-[80%]"/>
        </div>
    </div>
    <div class="px-20 text-white">
        <span class="text-primary-orange">~</span> La UNET nace como una institución
        de carácter experimental orientada a la búsqueda de la verdad, al afianzamiento
        de los valores trascedentales del hombre y a la realización de una función
        rectora de la educación, la cultura y la ciencia mediante la docencia, la
        investigación, la extensión y la actividad complementaria de producción de
        bienes y servicios<span class="text-primary-orange">.</span>
    </div>
</div>
