---
interface Props {
    side: "left" | "right";
    text: string;
}

const { side, text } = Astro.props;
---

<div class={`flex items-center gap-4 w-full px-6 md:px-20 mb-8 mt-8 ${side === "left" ? "animate-division-left" : "animate-division-right"}`}>
    {
        side == "right" ? (
            <>
                <div class="h-px flex-1 bg-gradient-to-r from-transparent via-primary-orange/40 to-primary-orange" />
                <span class="text-white text-xl md:text-4xl font-zen-dots md:whitespace-nowrap text-center">
                    <span class="text-primary-orange">&lt;</span>{text}<span class="text-primary-orange">&nbsp;/&gt;</span>
                </span>
            </>
        ) : (
            <>
                <span class="text-white text-xl md:text-4xl font-zen-dots md:whitespace-nowrap text-center">
                    <span class="text-primary-orange">&lt;</span>{text}<span class="text-primary-orange">&nbsp;/&gt;</span>
                </span>
                <div class="h-px flex-1 bg-gradient-to-l from-transparent via-primary-orange/40 to-primary-orange" />
            </>
        )
    }
</div>
